<a href="https://colab.research.google.com/github/sathvika1352/phython-assignment/blob/master/Phython_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#QUESTION 1
year= int(input("Enter the year "))
if year%12==0:
    print("monkey")
elif year%12==1:
    print("rooster")
elif year%12==2:
    print("dog")
elif year%12==3:
    print("pig")
elif year%12==4:
    print("rat")
elif year%12==5:
    print("ox")
elif year%12==6:
    print("tiger")
elif year%12==7:
    print("rabbit")
elif year%12==8:
    print("dragon")
elif year%12==9:
    print("snake")
elif year%12==10:
    print("horse")
else:
    print("sheep")

Enter the year 12
monkey

In [ ]:
#QUESTION 2
d=int(input("Distance to be travel"))
w=int(input("Weight of goods : "))
if d>=500 :
   if w>=100 :
      d=d*5
      print("Amount to be charged : ",d)
   elif w>=10 and w<100 :
      d=d*6
      print("Amount to be charged : ",d)
   elif w<10 :
     d=d*7
     print("Amount to be charged : ",d)
elif d<500 :
  if w>=100 :
     d=d*8
     print("Amount to be charged : ",d)
  elif w<100 :
     d=d*5
     print("Amount to be charged : ",d)
else :
  print("invalid")

Distance to be travel1520
Weight of goods : 50
Amount to be charged :  9120

In [ ]:
#QUESTION 3
print("Stall=625")
print("Circle=750")
print("Upper_class=850")
print("Box=1000")
T=input("Type of seat ")
P=input("Payment mode ")
if T=="Stall":
   if P=='Cash':
      print("Cost of ticket : ",(625-((625*10)/100)))
   elif P=='Credit':
      print("Cost of ticket : ",(625-((625*10)/100)))
elif T=="Circle":
  if P=='Cash':
     print("Cost of ticket : ",(750-((750*10)/100)))
  elif P=='Credit':
     print("Cost of ticket : ",(750-((750*10)/100)))
elif T=="Upper_class":
  if P=='Cash':
     print("Cost of ticket : ",(850-((850*10)/100)))
  elif P=='Credit':
     print("Cost of ticket : ",(850-((850*10)/100)))
elif T=="Box":
  if P=='Cash':
     print("Cost of ticket : ",(1000-((1000*10)/100)))
  elif P=='Credit':
     print("Cost of ticket : ",(1000-((1000*10)/100)))
else:
    print("invalid")

Stall=625
Circle=750
Upper_class=850
Box=1000
Type of seat Circle
Payment mode Cash
Cost of ticket :  675.0

In [ ]:
#QUESTION 4
M=float(input('Enter the amount of water in kilograms : '))
initialTemperature =float(input('Enter the initial temperature of water in degree Celsius :'))
finalTemperature=float(input('Enter the final temperature of water degree celsius :'))
Q=M*4184*(finalTemperature - initialTemperature)
print(f'Energy required to heat the water = {Q}joules')

Enter the amount of water in kilograms : 20
Enter the initial temperature of water in degree Celsius :6
Enter the final temperature of water degree celsius :8
Energy required to heat the water = 167360.0joules

In [ ]:

#QUESTION 5
Season=input("Enter the season")
if Season=="Winter":
   Print("December,January and February ")
elif Season=="Spring":
   print("March,April and May")
elif Season=="Summer":
   print("June,July,August")
elif Season=="Autumn":
   print("September,October,November")
else:
   print("ntg")

Enter the seasonSummer
June,July,August

In [ ]:
#QUESTION 6
w=float(input("Enter the weight in pounds"))
m=0.45359237*w
h=float(input("Enter the height in inches"))
i=0.0254*h
b=(m/(i**2))
print(b)
if(b<18.5):
  print("Underweight")
elif(b>=18.5 and b<25.0):
  print("Normal")
elif(b>=25.0 and b<30.0):
  print("Overnight")
elif(b>=30.0):
  print("Obese")
else:
  print("nothing")

Enter the weight in pounds8
Enter the height in inches12
39.059421091064415
Obese

In [ ]:
#QUESTION 7
i=int(input("Enter an integer from 100 to 1000"))
s=0
while(i>0):
    r=i%10
    i=i//10
    s=s+r
print("Sum=",s)

Enter an integer from 100 to 1000754
Sum= 16

In [ ]:
#QUESTION 8
for num in range(0,1000):
    temp=num
    sum=0
    while temp>0:
      digit=temp%10
      sum=sum+digit**3
      temp=temp//10
    if sum==num:
         print(num)

0
1
153
370
371
407

In [ ]:
#QUESTION 9
max=int(input("Enter last digit : "))
print("Palindrome Numbers between 1 and %d : "%max)
for num in range(1,max+1):
     temp=num
     reverse=0
     while(temp>0):
       reminder=temp%10
       reverse=(reverse *10)+reminder
       temp=temp//10
     if(num==reverse):
        print("%d "%num, end =' ')

Enter last digit : 1000
Palindrome Numbers between 1 and 1000 :
1  2  3  4  5  6  7  8  9  11  22  33  44  55  66  77  88  99  101  111  121  131  141  151  161  171  181  191  202  212  222  232  242  252  262  272  282  292  303  313  323  333  343  353  363  373  383  393  404  414  424  434  444  454  464  474  484  494  505  515  525  535  545  555  565  575  585  595  606  616  626  636  646  656  666  676  686  696  707  717  727  737  747  757  767  777  787  797  808  818  828  838  848  858  868  878  888  898  909  919  929  939  949  959  969  979  989  999

In [ ]:
#QUESTION 10
for i in range(1,101):
    if i%3==0 and i%5==0:
       print("fizz buzz")
    elif i%3==0:
       print("Fizz")
    elif i%5==0:
       print("Buzz")
    else:
       print("---")

---
---
Fizz
---
Buzz
Fizz
---
---
Fizz
Buzz
---
Fizz
---
---
fizz buzz
---
---
Fizz
---
Buzz
Fizz
---
---
Fizz
Buzz
---
Fizz
---
---
fizz buzz
---
---
Fizz
---
Buzz
Fizz
---
---
Fizz
Buzz
---
Fizz
---
---
fizz buzz
---
---
Fizz
---
Buzz
Fizz
---
---
Fizz
Buzz
---
Fizz
---
---
fizz buzz
---
---
Fizz
---
Buzz
Fizz
---
---
Fizz
Buzz
---
Fizz
---
---
fizz buzz
---
---
Fizz
---
Buzz
Fizz
---
---
Fizz
Buzz
---
Fizz
---
---
fizz buzz
---
---
Fizz
---
Buzz
Fizz
---
---
Fizz
Buzz